<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">SF is the perfect place for gay marriage.</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="#about" class="portfolio-box">
                    <img src="img/about/sf.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="reviews">
                                    샌프란시스코는 매년 수 많은 관광객으로 넘쳐나는 미국 서부/캘리포니아 북부에 위치한 대도시입니다.금문교와 따뜻한 햇빛의 공원, 박물관, 바다가 공존하는 이 도시는 예전부터 자유로운 영혼의 예술인들과 작가들에게 사랑을 받아오고 영감을 주는 도시로 유명하죠.
                            </div>
                        </div>
                    </div>
                </a>
                <p class="text-faded">#금문교 #캘리포니아 #카스트로 #LGBT </p>                
            </div>
            <div class="col-lg-4">
                <br><br><br><br><br><br>
                <p class="text" style="vertical-align: middle;">Hope will never be silent. <br>-Harvey Milk</p>
                <br><br>
                <p class="text-faded">사실 샌프란시스코는 전 세계 퀴어들에게 특히 유명한 도시입니다. LGBT 인권운동의 중심지였고 동성애자인 Harvey Milk를 시의원으로 뒀던 만큼 매우 퀴어프랜들리한 곳이죠. 표현의 자유, 인권과 사랑을 표방하는 샌프란시스코. 꼭 한번 놀러가봐야겠죠?</p>
            </div>
            <div class="col-lg-4">
                <a href="#about" class="portfolio-box">
                    <img src="img/about/obama.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="reviews">
                                    오바마 전 대통령은 퀴어 인권을 위해 많은 노력을 했습니다. 2013년에는 결혼의 정의를 남녀로만 정의한 부분을 위헌이라고 판결했고, 2015년에는 국가적으로 동성결혼을 합법화했습니다.
                            </div>
                        </div>
                    </div>
                </a>
                <p class="text-faded">#동성결혼합법 #결혼합시다 #오바마짱</p>
            </div>
        </div>
        <hr class="light">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">But, still it's not easy...</h2>
                <p class="text-faded">#유부녀둘 #유부남둘 #미국결혼 #복잡한절차 #영어라니 #도움이필요해 #RGBTWO</p>
                <p class="text">저희와 함께 하시면 모든 복잡하고 막막한 절차들, 걱정 없습니다!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
