<!-- <div class="section">
    <h5>Borderless Table</h5> 
    <div class="row">
          <div class="col s12">
            <table>
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
                  <td>$0.87</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
                <tr>
                  <td>Shannon</td>
                  <td>KitKat</td>
                  <td>$9.99</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Bordered Table</h5> 
    <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
                  <td>$0.87</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
                <tr>
                  <td>Shannon</td>
                  <td>KitKat</td>
                  <td>$9.99</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Striped Table</h5> 
    <div class="row">
          <div class="col s12">
            <table class="striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
                  <td>$0.87</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
                <tr>
                  <td>Shannon</td>
                  <td>KitKat</td>
                  <td>$9.99</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div> -->
<section class="bg-primary" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Product Table</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Included items</th>
                    <th>Package Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>패키지 A</td>
                <td>Essential Package <br> 필수적인 것들만 담았습니다.</td>
                <td>$ 400</td>
                </tr>
                <tr>
                <td>패키지 B</td>
                <td>Wedding Package <br> 실속 패키지</td>
                <td>$ 900</td>
                </tr>
                <tr>
                <td>패키지 C</td>
                <td>All inclusive <br> 호화 패키지</td>
                <td>$ 1500</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- <div class="divider"></div>
<div class="section">
    <h5>Responsive Table</h5> 
    <div class="row">
          <div class="col s12">
            <table class="responsive-table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
                  <td>$0.87</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
                <tr>
                  <td>Shannon</td>
                  <td>KitKat</td>
                  <td>$9.99</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div> -->