<section class="no-padding" id="reviews">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "너무 행복했습니다"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "Kiss"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "행복해서 눈물이 나더라구요"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "드디어 인정받는 부부가 되었어요. 정말 기다려 왔던 순간이에요."
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "우리가 부부라니!"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" style="width:650; height:350;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017 Jan. 01
                            </div>
                            <div class="reviews">
                                "행복하게 살 거에요."
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>See our customer reviews!</h2>
            </div>
        </div>
    </aside>
</section>
