<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Marriage License</h3>
                    <p class="text-muted">서류 작성, 시청에 결혼 허가 신청 및 접수.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Wedding</h3>
                    <p class="text-muted">90일 안에 결혼식을 해야함. 주례와 2명 이상의 증인 필요, 서류 작성 후 시청에 접수</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Marriage Certificate</h3>
                    <p class="text-muted">혼인신고서 접수증과 신청서를 작성 후 시청에 등록.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Certificate Delivery</h3>
                    <p class="text-muted">법적으로 효력을 갖는 혼인신고서는 우편으로 ~12주안에 받아볼 수 있음.</p>
                </div>
            </div>
        </div>
    </div>
</section>
