---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Marriage License</h5>

            <p align="center" class="light">서류 작성, 시청에 결혼 허가 신청 및 접수</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Wedding</h5>

            <p align="center" class="light">90일 안에 결혼식을 해야함. 주례와 2명 이상의 증인 필요, 서류 작성 후 시청에 접수</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">class</i></h2>
            <h5 class="center">Marriage Certificate</h5>

            <p align="center" class="light">혼인신고서 접수증과 신청서를 작성 후 시청에 등록. 법적으로 효력을 갖는 혼인신고서는 우편으로 ~12주안에 받아볼 수 있음.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row center">
        <a href="https://docs.google.com/forms/d/1PxzlUk4bTz7aAuOzP42R3r1T5h6s89pJoPD0p_wf0B8/prefill" id="apply-button" class="btn-large waves-effect waves-light orange">신청하기</a>
      </div>
    </div>
      
    </div>
    <div style="background: #ddd">
    <!-- <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div> -->
</div>

</div>